# Learn and practice pyspark

## Prepare the  environment

Import necessary modules and packages

In [1]:
import os
import requests
from pyspark.sql import DataFrame, SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType, TimestampType
from pyspark.sql.functions import col

Prepare the project's directories

In [2]:
# Prepare directories
os.makedirs("data/", exist_ok=True)

Download a subset of the NYC taxi trips dataset. This subset contains the trips of yellow taxis from march 2025

In [3]:
# Download NYC taxi trips dataset
URL = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-03.parquet"
response = requests.get(url=URL, stream=True, timeout=(10, 30))

if os.path.exists("data/yellow_taxi_data_202503.parquet"):
    print("Dataset ready")
else:
    with open("data/yellow_taxi_data_202503.parquet", "wb") as file:
        for chunk in response.iter_content(chunk_size=4092):
            file.write(chunk)
    print("Dataset downloaded")

Dataset ready

# Pyspark basics

Initialize Spark Session, this is the basic entrypoint to interact with Apache Spark

In [4]:
spark = SparkSession.builder.appName("LearnSpark") \
    .config('spark.executor.memory', '4g') \
    .config('spark.executor.cores', '4') \
    .config('spark.sql.shuffle.partitions', '200') \
    .getOrCreate()

25/06/28 20:43:55 WARN Utils: Your hostname, xblade resolves to a loopback address: 127.0.1.1; using 192.168.10.156 instead (on interface enp2s0)
25/06/28 20:43:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/28 20:43:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In the SparkSession builder we can configure the spark deployment and its process like the amount of memory and cores assigned to the executor process. The [configuration docs are Here](!https://spark.apache.org/docs/latest/configuration.html)

## The Dataframe basics

Create a Dataframe from scratch

In [5]:
df_plain = spark.createDataFrame(data=[('Alan', 10), ('Cindy', 12)], schema=('Name', 'Age'))
print(df_plain)

DataFrame[Name: string, Age: bigint]

Create a Dataframe by reading a file, it could be parquet, json, csv, etc

In [6]:
df: DataFrame = spark.read.parquet("data/yellow_taxi_data_202503.parquet")

Show the first rows of a dataframe

In [7]:
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       1| 2025-03-01 00:17:16|  2025-03-01 00:25:52|              1|          0.9|         1|                 N|         140|         236|           1|        7.9|  3.5|    0.5|       2.6|         0.0|                  1.0|        15.5|                 2.5|        0.0|               0.0|
|       1| 2025-03-01 00:37:38|  2025-03-01 00:43:51|              1|          0.6|         1|                 N|         140|         262|           1|        6.5|  3.5|    0.5|       2.3|         0.0|                  1.0|        13.8|                 2.5|        0.0|               0.0|
|       2| 2025-03-01 00:24:35|  2025-03-01 00:39:49|              1|         1.94|         1|                 N|         161|          68|           1|       14.9|  1.0|    0.5|      5.16|         0.0|                  1.0|       25.81|                 2.5|        0.0|              0.75|
|       2| 2025-03-01 00:56:16|  2025-03-01 01:01:35|              2|         0.95|         1|                 N|         231|          13|           1|        7.2|  1.0|    0.5|      2.59|         0.0|                  1.0|       15.54|                 2.5|        0.0|              0.75|
|       1| 2025-03-01 00:01:44|  2025-03-01 00:10:00|              1|          1.5|         1|                 N|         163|         236|           1|        8.6| 4.25|    0.5|      2.85|         0.0|                  1.0|        17.2|                 2.5|        0.0|              0.75|
|       1| 2025-03-01 00:11:57|  2025-03-01 00:28:33|              0|          2.0|         1|                 N|         166|          74|           1|       16.3|  1.0|    0.5|       2.0|         0.0|                  1.0|        20.8|                 0.0|        0.0|               0.0|
|       2| 2025-03-01 00:22:35|  2025-03-01 00:34:06|              2|         3.27|         1|                 N|          88|          79|           1|       17.0|  1.0|    0.5|      4.55|         0.0|                  1.0|        27.3|                 2.5|        0.0|              0.75|
|       2| 2025-03-01 00:37:22|  2025-03-01 00:45:03|              1|         0.95|         1|                 N|         114|         107|           1|        8.6|  1.0|    0.5|       2.0|         0.0|                  1.0|       16.35|                 2.5|        0.0|              0.75|
|       2| 2025-02-28 23:50:41|  2025-03-01 00:03:51|              1|         2.09|         1|                 N|          79|         186|           1|       13.5|  1.0|    0.5|      3.85|         0.0|                  1.0|        23.1|                 2.5|        0.0|              0.75|
|       2| 2025-03-01 00:06:48|  2025-03-01 00:18:44|              1|         1.43|         1|                 N|         186|         107|           1|       12.1|  1.0|    0.5|      3.57|         0.0|                  1.0|       21.42|                 2.5|        0.0|              0.75|
|       2| 2025-03-01 00:27:25|  2025-03-01 00:34:41|              1|         0.89|         1|                 N|          79|         211|           1|        8.6|  1.0|    0.5|       0.0|         0.0|                  1.0|       14.35|                 2.5|        0.0|              0.75|
|       2| 2025-03-01 00:39:38|  2025-03-01 00:43:49|              1|         0.72|         1|                 N|         211|         231|           1|        6.5|  1.0|    0.5|       2.0|         0.0|                  1.0|       14.25|                 2.5|        0.0|              0.75|
|       1| 2025-03-01 00:44:28|  2025-03-01 01:25:34|              2|         18.6|         2|                 N|         132|          48|           2|       70.0|  5.0|    0.5|       0.0|        6.94|                  1.0|       83.44|                 2.5|       1.75|              0.75|
|       2| 2025-03-01 00:00:15|  2025-03-01 01:03:30|              4|        23.28|         1|                 N|         132|         220|           2|      101.7|  1.0|    0.5|       0.0|        6.94|                  1.0|      112.89|                 0.0|       1.75|               0.0|
|       2| 2025-03-01 00:02:02|  2025-03-01 00:18:45|              1|         2.73|         1|                 N|         163|         263|           1|       17.7|  1.0|    0.5|      4.69|         0.0|                  1.0|       28.14|                 2.5|        0.0|              0.75|
|       2| 2025-03-01 00:21:17|  2025-03-01 00:25:33|              1|         1.29|         1|                 N|         141|         229|           1|        7.9|  1.0|    0.5|      2.05|         0.0|                  1.0|        15.7|                 2.5|        0.0|              0.75|
|       2| 2025-03-01 00:41:51|  2025-03-01 00:50:56|              1|         1.99|         1|                 N|         211|         137|           1|       11.4|  1.0|    0.5|       1.0|         0.0|                  1.0|       18.15|                 2.5|        0.0|              0.75|
|       1| 2025-03-01 00:29:44|  2025-03-01 00:35:25|              1|          0.9|         1|                 N|         246|          90|           1|        7.9| 4.25|    0.5|       2.7|         0.0|                  1.0|       16.35|                 2.5|        0.0|              0.75|
|       1| 2025-03-01 00:41:30|  2025-03-01 00:53:25|              2|          2.4|         1|                 N|         249|         163|           1|       14.9| 4.25|    0.5|       4.1|         0.0|                  1.0|       24.75|                 2.5|        0.0|              0.75|
|       2| 2025-03-01 00:06:21|  2025-03-01 00:12:06|              2|         0.59|         1|                 N|         186|          68|           2|        7.2|  1.0|    0.5|       0.0|         0.0|                  1.0|       12.95|                 2.5|        0.0|              0.75|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 20 rows

In [8]:
# only the first 5 rows
df.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       1| 2025-03-01 00:17:16|  2025-03-01 00:25:52|              1|          0.9|         1|                 N|         140|         236|           1|        7.9|  3.5|    0.5|       2.6|         0.0|                  1.0|        15.5|                 2.5|        0.0|               0.0|
|       1| 2025-03-01 00:37:38|  2025-03-01 00:43:51|              1|          0.6|         1|                 N|         140|         262|           1|        6.5|  3.5|    0.5|       2.3|         0.0|                  1.0|        13.8|                 2.5|        0.0|               0.0|
|       2| 2025-03-01 00:24:35|  2025-03-01 00:39:49|              1|         1.94|         1|                 N|         161|          68|           1|       14.9|  1.0|    0.5|      5.16|         0.0|                  1.0|       25.81|                 2.5|        0.0|              0.75|
|       2| 2025-03-01 00:56:16|  2025-03-01 01:01:35|              2|         0.95|         1|                 N|         231|          13|           1|        7.2|  1.0|    0.5|      2.59|         0.0|                  1.0|       15.54|                 2.5|        0.0|              0.75|
|       1| 2025-03-01 00:01:44|  2025-03-01 00:10:00|              1|          1.5|         1|                 N|         163|         236|           1|        8.6| 4.25|    0.5|      2.85|         0.0|                  1.0|        17.2|                 2.5|        0.0|              0.75|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 5 rows

The Dataframe.head() Returns the first n rows like Pandas (1 by default on spark)

In [9]:
df.head(5)

[Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2025, 3, 1, 0, 17, 16), tpep_dropoff_datetime=datetime.datetime(2025, 3, 1, 0, 25, 52), passenger_count=1, trip_distance=0.9, RatecodeID=1, store_and_fwd_flag='N', PULocationID=140, DOLocationID=236, payment_type=1, fare_amount=7.9, extra=3.5, mta_tax=0.5, tip_amount=2.6, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=15.5, congestion_surcharge=2.5, Airport_fee=0.0, cbd_congestion_fee=0.0),
 Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2025, 3, 1, 0, 37, 38), tpep_dropoff_datetime=datetime.datetime(2025, 3, 1, 0, 43, 51), passenger_count=1, trip_distance=0.6, RatecodeID=1, store_and_fwd_flag='N', PULocationID=140, DOLocationID=262, payment_type=1, fare_amount=6.5, extra=3.5, mta_tax=0.5, tip_amount=2.3, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=13.8, congestion_surcharge=2.5, Airport_fee=0.0, cbd_congestion_fee=0.0),
 Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2025, 3, 1, 0, 24, 35), tpep_dropoff_datetime=datetime.datetime(2025, 3, 1, 0, 39, 49), passenger_count=1, trip_distance=1.94, RatecodeID=1, store_and_fwd_flag='N', PULocationID=161, DOLocationID=68, payment_type=1, fare_amount=14.9, extra=1.0, mta_tax=0.5, tip_amount=5.16, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=25.81, congestion_surcharge=2.5, Airport_fee=0.0, cbd_congestion_fee=0.75),
 Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2025, 3, 1, 0, 56, 16), tpep_dropoff_datetime=datetime.datetime(2025, 3, 1, 1, 1, 35), passenger_count=2, trip_distance=0.95, RatecodeID=1, store_and_fwd_flag='N', PULocationID=231, DOLocationID=13, payment_type=1, fare_amount=7.2, extra=1.0, mta_tax=0.5, tip_amount=2.59, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=15.54, congestion_surcharge=2.5, Airport_fee=0.0, cbd_congestion_fee=0.75),
 Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2025, 3, 1, 0, 1, 44), tpep_dropoff_datetime=datetime.datetime(2025, 3, 1, 0, 10), passenger_count=1, trip_distance=1.5, RatecodeID=1, store_and_fwd_flag='N', PULocationID=163, DOLocationID=236, payment_type=1, fare_amount=8.6, extra=4.25, mta_tax=0.5, tip_amount=2.85, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=17.2, congestion_surcharge=2.5, Airport_fee=0.0, cbd_congestion_fee=0.75)]

The DataFrame.take() method works similarly to head()

In [10]:
df.take(5)

[Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2025, 3, 1, 0, 17, 16), tpep_dropoff_datetime=datetime.datetime(2025, 3, 1, 0, 25, 52), passenger_count=1, trip_distance=0.9, RatecodeID=1, store_and_fwd_flag='N', PULocationID=140, DOLocationID=236, payment_type=1, fare_amount=7.9, extra=3.5, mta_tax=0.5, tip_amount=2.6, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=15.5, congestion_surcharge=2.5, Airport_fee=0.0, cbd_congestion_fee=0.0),
 Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2025, 3, 1, 0, 37, 38), tpep_dropoff_datetime=datetime.datetime(2025, 3, 1, 0, 43, 51), passenger_count=1, trip_distance=0.6, RatecodeID=1, store_and_fwd_flag='N', PULocationID=140, DOLocationID=262, payment_type=1, fare_amount=6.5, extra=3.5, mta_tax=0.5, tip_amount=2.3, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=13.8, congestion_surcharge=2.5, Airport_fee=0.0, cbd_congestion_fee=0.0),
 Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2025, 3, 1, 0, 24, 35), tpep_dropoff_datetime=datetime.datetime(2025, 3, 1, 0, 39, 49), passenger_count=1, trip_distance=1.94, RatecodeID=1, store_and_fwd_flag='N', PULocationID=161, DOLocationID=68, payment_type=1, fare_amount=14.9, extra=1.0, mta_tax=0.5, tip_amount=5.16, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=25.81, congestion_surcharge=2.5, Airport_fee=0.0, cbd_congestion_fee=0.75),
 Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2025, 3, 1, 0, 56, 16), tpep_dropoff_datetime=datetime.datetime(2025, 3, 1, 1, 1, 35), passenger_count=2, trip_distance=0.95, RatecodeID=1, store_and_fwd_flag='N', PULocationID=231, DOLocationID=13, payment_type=1, fare_amount=7.2, extra=1.0, mta_tax=0.5, tip_amount=2.59, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=15.54, congestion_surcharge=2.5, Airport_fee=0.0, cbd_congestion_fee=0.75),
 Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2025, 3, 1, 0, 1, 44), tpep_dropoff_datetime=datetime.datetime(2025, 3, 1, 0, 10), passenger_count=1, trip_distance=1.5, RatecodeID=1, store_and_fwd_flag='N', PULocationID=163, DOLocationID=236, payment_type=1, fare_amount=8.6, extra=4.25, mta_tax=0.5, tip_amount=2.85, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=17.2, congestion_surcharge=2.5, Airport_fee=0.0, cbd_congestion_fee=0.75)]

We can create a new Pandas Dataframe based on the original dataframe with Dataframe.toPandas()

In [11]:
pd_df = df_plain.toPandas()
print(type(pd_df))

<class 'pandas.core.frame.DataFrame'>

Show the DataFrame  with Pandas's Dataframe.head()

In [12]:
pd_df.head()

    Name  Age
0   Alan   10
1  Cindy   12

Write a dataframe to csv files.
The write.csv() method will create a directory and write multiple csv files(parts of the dataframe) that together, make up the whole dataframe and _SUCCESS files as confirmation.

The .csv() method should be called after .option() and .mode() methods. In this case the header = true is used to write a header with the column names in the .csv files

In [13]:
df.write.option('header', 'true').mode('overwrite').csv('data/yellow_taxi_data_csv')

The df.write() method returns a **DataFrameWriter** object that has many modes:

**append**: Append contents of this DataFrame to existing data.

**overwrite**: Overwrite existing data.

**error or errorifexists**: Throw an exception if data already exists.

**ignore**: Silently ignore this operation if data already exists.

Read the csv data as a new dataframe

In [14]:
df_csv = spark.read.csv('data/yellow_taxi_data_csv')
df_csv.show()

+--------+--------------------+--------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+--------------------+------------+--------------------+-----------+------------------+
|     _c0|                 _c1|                 _c2|            _c3|          _c4|       _c5|               _c6|         _c7|         _c8|         _c9|       _c10| _c11|   _c12|      _c13|        _c14|                _c15|        _c16|                _c17|       _c18|              _c19|
+--------+--------------------+--------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+--------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_date...|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surch...|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
|       2|2025-03-31T08:25:...|2025-03-31T08:31:...|              1|         0.92|         1|                 N|         164|         233|           1|        7.9|  0.0|    0.5|       1.0|         0.0|                 1.0|       13.65|                 2.5|        0.0|              0.75|
|       2|2025-03-31T08:35:...|2025-03-31T08:56:...|              1|        10.55|         1|                 N|         229|         138|           2|       42.9|  5.0|    0.5|       0.0|        6.94|                 1.0|       59.59|                 2.5|        0.0|              0.75|
|       1|2025-03-31T08:45:...|2025-03-31T08:59:...|              1|          2.8|         1|                 N|          79|         162|           1|       14.9| 3.25|    0.5|       1.0|         0.0|                 1.0|       20.65|                 2.5|        0.0|              0.75|
|       1|2025-03-31T08:12:...|2025-03-31T08:21:...|              1|          1.5|         1|                 N|         263|         163|           1|       11.4| 3.25|    0.5|       3.2|         0.0|                 1.0|       19.35|                 2.5|        0.0|              0.75|
|       2|2025-03-31T08:21:...|2025-03-31T08:33:...|              1|         1.57|         1|                 N|         224|         186|           1|       12.1|  0.0|    0.5|      1.15|         0.0|                 1.0|        18.0|                 2.5|        0.0|              0.75|
|       2|2025-03-31T08:43:...|2025-03-31T08:52:...|              1|         1.04|         1|                 N|         113|         107|           1|        9.3|  0.0|    0.5|      2.81|         0.0|                 1.0|       16.86|                 2.5|        0.0|              0.75|
|       2|2025-03-31T08:59:...|2025-03-31T09:12:...|              1|         1.64|         1|                 N|         107|         161|           1|       12.8|  0.0|    0.5|      4.39|         0.0|                 1.0|       21.94|                 2.5|        0.0|              0.75|
|       2|2025-03-31T08:35:...|2025-03-31T09:07:...|              1|         4.56|         1|                 N|         249|         229|           1|       29.6|  0.0|    0.5|      6.87|         0.0|                 1.0|       41.22|                 2.5|        0.0|              0.75|
|       2|2025-03-31T08:16:...|2025-03-31T08:24:...|              1|         1.53|         1|                 N|         229|         263|           1|       10.0|  0.0|    0.5|      2.95|         0.0|                 1.0|        17.7|                 2.5|        0.0|              0.75|
|       2|2025-03-31T08:28:...|2025-03-31T08:44:...|              1|         3.04|         1|                 N|         263|         230|           1|       18.4|  0.0|    0.5|      2.32|         0.0|                 1.0|       25.47|                 2.5|        0.0|              0.75|
|       2|2025-03-31T08:51:...|2025-03-31T09:00:...|              1|         0.84|         1|                 N|          50|          68|           1|        9.3|  0.0|    0.5|       0.0|         0.0|                 1.0|       14.05|                 2.5|        0.0|              0.75|
|       1|2025-03-31T08:16:...|2025-03-31T08:23:...|              1|          0.8|         1|                 N|         262|         140|           1|        7.2|  2.5|    0.5|      2.25|         0.0|                 1.0|       13.45|                 2.5|        0.0|               0.0|
|       1|2025-03-31T08:33:...|2025-03-31T08:38:...|              1|          0.6|         1|                 N|         262|         236|           1|        5.1|  2.5|    0.5|       2.0|         0.0|                 1.0|        11.1|                 2.5|        0.0|               0.0|
|       1|2025-03-31T08:40:...|2025-03-31T08:45:...|              1|          0.5|         1|                 N|         263|         236|           1|        5.8|  2.5|    0.5|       2.0|         0.0|                 1.0|        11.8|                 2.5|        0.0|               0.0|
|       1|2025-03-31T08:46:...|2025-03-31T08:53:...|              1|          0.7|         1|                 N|         236|         262|           1|        6.5|  2.5|    0.5|       2.1|         0.0|                 1.0|        12.6|                 2.5|        0.0|               0.0|
|       1|2025-03-31T08:54:...|2025-03-31T09:08:...|              1|          1.8|         1|                 N|         262|         237|           1|       12.8| 3.25|    0.5|       1.0|         0.0|                 1.0|       18.55|                 2.5|        0.0|              0.75|
|       2|2025-03-31T08:36:...|2025-03-31T08:42:...|              3|         2.15|         1|                 N|         143|         246|           1|       11.4|  0.0|    0.5|       1.0|         0.0|                 1.0|       17.15|                 2.5|        0.0|              0.75|
|       2|2025-03-31T08:52:...|2025-03-31T09:01:...|              1|          1.5|         1|                 N|          68|         100|           1|       10.7|  0.0|    0.5|       2.0|         0.0|                 1.0|       17.45|                 2.5|        0.0|              0.75|
|       2|2025-03-31T08:33:...|2025-03-31T08:40:...|              2|         0.99|         1|                 N|         230|          68|           1|        7.9|  0.0|    0.5|      2.53|         0.0|                 1.0|       15.18|                 2.5|        0.0|              0.75|
+--------+--------------------+--------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+--------------------+------------+--------------------+-----------+------------------+
only showing top 20 rows

The dataframe columns were not inferred, the header = true option must be called. The option inferSchema is useful too.

First let's check the current schema

In [15]:
df_csv.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)

Now let's read again it using both options, passed as a dictionary with the **.options** method, this is different from **.option**

In [16]:
# we can also use the read.csv() method and pass parameter to it
# df_csv = spark.read.csv('data/yellow_taxi_data_csv', header=true, inferschema=true)
df_csv = spark.read.options(header=True, inferschema=True, delimiter=',').csv('data/yellow_taxi_data_csv')

The columns's names are mapped now

In [17]:
df_csv.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       2| 2025-03-31 08:25:18|  2025-03-31 08:31:33|              1|         0.92|         1|                 N|         164|         233|           1|        7.9|  0.0|    0.5|       1.0|         0.0|                  1.0|       13.65|                 2.5|        0.0|              0.75|
|       2| 2025-03-31 08:35:17|  2025-03-31 08:56:30|              1|        10.55|         1|                 N|         229|         138|           2|       42.9|  5.0|    0.5|       0.0|        6.94|                  1.0|       59.59|                 2.5|        0.0|              0.75|
|       1| 2025-03-31 08:45:27|  2025-03-31 08:59:43|              1|          2.8|         1|                 N|          79|         162|           1|       14.9| 3.25|    0.5|       1.0|         0.0|                  1.0|       20.65|                 2.5|        0.0|              0.75|
|       1| 2025-03-31 08:12:55|  2025-03-31 08:21:41|              1|          1.5|         1|                 N|         263|         163|           1|       11.4| 3.25|    0.5|       3.2|         0.0|                  1.0|       19.35|                 2.5|        0.0|              0.75|
|       2| 2025-03-31 08:21:32|  2025-03-31 08:33:03|              1|         1.57|         1|                 N|         224|         186|           1|       12.1|  0.0|    0.5|      1.15|         0.0|                  1.0|        18.0|                 2.5|        0.0|              0.75|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 5 rows

And the dataframe has a different(and much better) schema

In [18]:
df_csv.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)
 |-- cbd_congestion_fee: double (nullable = true)

The dataframe.schema Attribute holds the schema

In [19]:
print(df_csv.schema)

StructType([StructField('VendorID', IntegerType(), True), StructField('tpep_pickup_datetime', TimestampType(), True), StructField('tpep_dropoff_datetime', TimestampType(), True), StructField('passenger_count', IntegerType(), True), StructField('trip_distance', DoubleType(), True), StructField('RatecodeID', IntegerType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('PULocationID', IntegerType(), True), StructField('DOLocationID', IntegerType(), True), StructField('payment_type', IntegerType(), True), StructField('fare_amount', DoubleType(), True), StructField('extra', DoubleType(), True), StructField('mta_tax', DoubleType(), True), StructField('tip_amount', DoubleType(), True), StructField('tolls_amount', DoubleType(), True), StructField('improvement_surcharge', DoubleType(), True), StructField('total_amount', DoubleType(), True), StructField('congestion_surcharge', DoubleType(), True), StructField('Airport_fee', DoubleType(), True), StructField('cbd_congestion_fee', DoubleType(), True)])

We can create a schema definition using the StructType and StructField classes, the structfield constructor parameters are: StructField(name, dataType, nullable=True, metadata=None)

In [20]:
df_schema = StructType([
    StructField("VendorID", IntegerType(), True),
    StructField("tpep_pickup_datetime", TimestampType(), True),
    StructField("tpep_dropoff_datetime", TimestampType(), True),
    StructField("passenger_count", IntegerType(), True),
    StructField("trip_distance", DoubleType(), True),
    StructField("RatecodeID", IntegerType(), True),
    StructField("store_and_fwd_flag", StringType(), True),
    StructField("PULocationID", IntegerType(), True),
    StructField("DOLocationID", IntegerType(), True),
    StructField("payment_type", IntegerType(), True),
    StructField("fare_amount", DoubleType(), True),
    StructField("extra", DoubleType(), True),
    StructField("mta_tax", DoubleType(), True),
    StructField("tip_amount", DoubleType(), True),
    StructField("tolls_amount", DoubleType(), True),
    StructField("improvement_surcharge", DoubleType(), True),
    StructField("total_amount", DoubleType(), True),
    StructField("congestion_surcharge", DoubleType(), True),
    StructField("Airport_fee", DoubleType(), True),
    StructField("cbd_congestion_fee", DoubleType(), True)
])
print(f'Dataframe schema:\n{df_schema}')

Dataframe schema:
StructType([StructField('VendorID', IntegerType(), True), StructField('tpep_pickup_datetime', TimestampType(), True), StructField('tpep_dropoff_datetime', TimestampType(), True), StructField('passenger_count', IntegerType(), True), StructField('trip_distance', DoubleType(), True), StructField('RatecodeID', IntegerType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('PULocationID', IntegerType(), True), StructField('DOLocationID', IntegerType(), True), StructField('payment_type', IntegerType(), True), StructField('fare_amount', DoubleType(), True), StructField('extra', DoubleType(), True), StructField('mta_tax', DoubleType(), True), StructField('tip_amount', DoubleType(), True), StructField('tolls_amount', DoubleType(), True), StructField('improvement_surcharge', DoubleType(), True), StructField('total_amount', DoubleType(), True), StructField('congestion_surcharge', DoubleType(), True), StructField('Airport_fee', DoubleType(), True), StructField('cbd_congestion_fee', DoubleType(), True)])

In [21]:
df_csv = spark.read.schema(schema=df_schema).csv('data/yellow_taxi_data_csv')

In [22]:
df_csv.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)
 |-- cbd_congestion_fee: double (nullable = true)

We can print only the columns of the dataframe with the Dataframe.columns Attribute

In [23]:
print(df.columns)

['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'congestion_surcharge', 'Airport_fee', 'cbd_congestion_fee']

The DataFrame.dtypes Attribute can be useful if we only want the columans and their types

In [24]:
print(df.dtypes)

[('VendorID', 'int'), ('tpep_pickup_datetime', 'timestamp_ntz'), ('tpep_dropoff_datetime', 'timestamp_ntz'), ('passenger_count', 'bigint'), ('trip_distance', 'double'), ('RatecodeID', 'bigint'), ('store_and_fwd_flag', 'string'), ('PULocationID', 'int'), ('DOLocationID', 'int'), ('payment_type', 'bigint'), ('fare_amount', 'double'), ('extra', 'double'), ('mta_tax', 'double'), ('tip_amount', 'double'), ('tolls_amount', 'double'), ('improvement_surcharge', 'double'), ('total_amount', 'double'), ('congestion_surcharge', 'double'), ('Airport_fee', 'double'), ('cbd_congestion_fee', 'double')]

With a correct schema, we can use the DataFrame.summary() method to generate a new dataframe with the statistics of said DataFrame. Let's use the original dataframe

In [25]:
df.summary().show()

25/06/28 20:44:09 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------------------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+------------------+
|summary|          VendorID|   passenger_count|    trip_distance|        RatecodeID|store_and_fwd_flag|      PULocationID|     DOLocationID|      payment_type|       fare_amount|             extra|           mta_tax|        tip_amount|      tolls_amount|improvement_surcharge|      total_amount|congestion_surcharge|        Airport_fee|cbd_congestion_fee|
+-------+------------------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+------------------+
|  count|           4145257|           3228594|          4145257|           3228594|           3228594|           4145257|          4145257|           4145257|           4145257|           4145257|           4145257|           4145257|           4145257|              4145257|           4145257|             3228594|            3228594|           4145257|
|   mean|1.8249437851501125|1.2911199116395558|6.584099784403299| 2.423492393283268|              NULL|161.76531346548597|161.2287341894604|0.9560951226908248|17.800342562597166|1.2209241091686227|0.4785716711895065| 2.858856020265468|0.4749764924103659|    0.957108570107958|26.265898046844185|  2.2193944175080547|0.13512275002679186|0.5364268126198207|
| stddev|0.5490765912853165|0.7317499817376729| 626.407536754718|11.360100348918557|              NULL|  65.9219960487389| 70.1327954566159|0.7362719752636325| 29.10144097036428|1.8501915009119179|0.1365122801872657|3.8448975263552603|2.1027958622778935|   0.2721862120192103|  31.9560839230314|  0.9155161802746349|0.49965083191910353|0.3569130718580522|
|    min|                 1|                 0|              0.0|                 1|                 N|                 1|                1|                 0|            -999.0|             -9.25|              -0.5|            -92.09|           -142.17|                 -1.0|           -1000.0|                -2.5|              -1.75|             -0.75|
|    25%|                 2|                 1|             1.03|                 1|              NULL|               114|              107|                 1|               8.6|               0.0|               0.5|               0.0|               0.0|                  1.0|             15.66|                 2.5|                0.0|               0.0|
|    50%|                 2|                 1|              1.8|                 1|              NULL|               161|              162|                 1|              13.5|               0.0|               0.5|              2.17|               0.0|                  1.0|             20.75|                 2.5|                0.0|              0.75|
|    75%|                 2|                 1|             3.42|                 1|              NULL|               232|              233|                 1|             21.26|               2.5|               0.5|              3.93|               0.0|                  1.0|             29.45|                 2.5|                0.0|              0.75|
|    max|                 7|                 9|        320136.29|                99|                 Y|               265|              265|                 4|          46263.88|              13.5|              10.5|             290.0|            916.87|                  1.0|          46269.44|                 2.5|               6.75|               1.5|
+-------+------------------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+---------------------+------------------+--------------------+-------------------+------------------+

If we only want the count here's the simple way

In [26]:
print(f'Count: {df.count()}')

Count: 4145257

# Dataframe Operations

## Select operations

Select: Returns a dataframe with only the **selected** columns

In [27]:
df.select('VendorID', 'fare_amount', 'extra', 'tip_amount', 'total_amount').show()

+--------+-----------+-----+----------+------------+
|VendorID|fare_amount|extra|tip_amount|total_amount|
+--------+-----------+-----+----------+------------+
|       1|        7.9|  3.5|       2.6|        15.5|
|       1|        6.5|  3.5|       2.3|        13.8|
|       2|       14.9|  1.0|      5.16|       25.81|
|       2|        7.2|  1.0|      2.59|       15.54|
|       1|        8.6| 4.25|      2.85|        17.2|
|       1|       16.3|  1.0|       2.0|        20.8|
|       2|       17.0|  1.0|      4.55|        27.3|
|       2|        8.6|  1.0|       2.0|       16.35|
|       2|       13.5|  1.0|      3.85|        23.1|
|       2|       12.1|  1.0|      3.57|       21.42|
|       2|        8.6|  1.0|       0.0|       14.35|
|       2|        6.5|  1.0|       2.0|       14.25|
|       1|       70.0|  5.0|       0.0|       83.44|
|       2|      101.7|  1.0|       0.0|      112.89|
|       2|       17.7|  1.0|      4.69|       28.14|
|       2|        7.9|  1.0|      2.05|        15.7|
|       2|       11.4|  1.0|       1.0|       18.15|
|       1|        7.9| 4.25|       2.7|       16.35|
|       1|       14.9| 4.25|       4.1|       24.75|
|       2|        7.2|  1.0|       0.0|       12.95|
+--------+-----------+-----+----------+------------+
only showing top 20 rows

We can select columns with Pandas's style too

In [28]:
df['VendorID', 'total_amount'].show()

+--------+------------+
|VendorID|total_amount|
+--------+------------+
|       1|        15.5|
|       1|        13.8|
|       2|       25.81|
|       2|       15.54|
|       1|        17.2|
|       1|        20.8|
|       2|        27.3|
|       2|       16.35|
|       2|        23.1|
|       2|       21.42|
|       2|       14.35|
|       2|       14.25|
|       1|       83.44|
|       2|      112.89|
|       2|       28.14|
|       2|        15.7|
|       2|       18.15|
|       1|       16.35|
|       1|       24.75|
|       2|       12.95|
+--------+------------+
only showing top 20 rows

Or an Attribute style

In [29]:
df.select(df.VendorID, df.total_amount).show()

+--------+------------+
|VendorID|total_amount|
+--------+------------+
|       1|        15.5|
|       1|        13.8|
|       2|       25.81|
|       2|       15.54|
|       1|        17.2|
|       1|        20.8|
|       2|        27.3|
|       2|       16.35|
|       2|        23.1|
|       2|       21.42|
|       2|       14.35|
|       2|       14.25|
|       1|       83.44|
|       2|      112.89|
|       2|       28.14|
|       2|        15.7|
|       2|       18.15|
|       1|       16.35|
|       1|       24.75|
|       2|       12.95|
+--------+------------+
only showing top 20 rows

Dataframe.limit(): Limits the result count of a Dataframe

In [61]:
df.select(df.VendorID, df.total_amount).limit(10).show()

+--------+------------+
|VendorID|total_amount|
+--------+------------+
|       1|        15.5|
|       1|        13.8|
|       2|       25.81|
|       2|       15.54|
|       1|        17.2|
|       1|        20.8|
|       2|        27.3|
|       2|       16.35|
|       2|        23.1|
|       2|       21.42|
+--------+------------+

DataFrame.collect() returns all the rows of the DataFrame

In [64]:
df.select(df.VendorID, df.total_amount).limit(10).collect()

[Row(VendorID=1, total_amount=15.5),
 Row(VendorID=1, total_amount=13.8),
 Row(VendorID=2, total_amount=25.81),
 Row(VendorID=2, total_amount=15.54),
 Row(VendorID=1, total_amount=17.2),
 Row(VendorID=1, total_amount=20.8),
 Row(VendorID=2, total_amount=27.3),
 Row(VendorID=2, total_amount=16.35),
 Row(VendorID=2, total_amount=23.1),
 Row(VendorID=2, total_amount=21.42)]

We can return a column using the col() function

In [32]:
df.select(col(col='VendorID'), col('total_amount')).show()

+--------+------------+
|VendorID|total_amount|
+--------+------------+
|       1|        15.5|
|       1|        13.8|
|       2|       25.81|
|       2|       15.54|
|       1|        17.2|
|       1|        20.8|
|       2|        27.3|
|       2|       16.35|
|       2|        23.1|
|       2|       21.42|
|       2|       14.35|
|       2|       14.25|
|       1|       83.44|
|       2|      112.89|
|       2|       28.14|
|       2|        15.7|
|       2|       18.15|
|       1|       16.35|
|       1|       24.75|
|       2|       12.95|
+--------+------------+
only showing top 20 rows

Dataframe Aliases (another name like in sql), they are useful to refer a column within a dataframe in joins

In [33]:
df_as = df.alias('nyc')

In [34]:
df_as.select(col('nyc.VendorID'), col('nyc.total_amount')).show()

+--------+------------+
|VendorID|total_amount|
+--------+------------+
|       1|        15.5|
|       1|        13.8|
|       2|       25.81|
|       2|       15.54|
|       1|        17.2|
|       1|        20.8|
|       2|        27.3|
|       2|       16.35|
|       2|        23.1|
|       2|       21.42|
|       2|       14.35|
|       2|       14.25|
|       1|       83.44|
|       2|      112.89|
|       2|       28.14|
|       2|        15.7|
|       2|       18.15|
|       1|       16.35|
|       1|       24.75|
|       2|       12.95|
+--------+------------+
only showing top 20 rows

Columns Aliases

In [35]:
df.select('VendorID', col('total_amount').alias('TOTAL_ALIAS')).show()

+--------+-----------+
|VendorID|TOTAL_ALIAS|
+--------+-----------+
|       1|       15.5|
|       1|       13.8|
|       2|      25.81|
|       2|      15.54|
|       1|       17.2|
|       1|       20.8|
|       2|       27.3|
|       2|      16.35|
|       2|       23.1|
|       2|      21.42|
|       2|      14.35|
|       2|      14.25|
|       1|      83.44|
|       2|     112.89|
|       2|      28.14|
|       2|       15.7|
|       2|      18.15|
|       1|      16.35|
|       1|      24.75|
|       2|      12.95|
+--------+-----------+
only showing top 20 rows

Sorting Data
We can sort the data with the .sort() method, any number of columns can be used

In [36]:
df.select('VendorID', col('total_amount').alias('TOTAL_ALIAS')) \
    .sort(['VendorID', 'TOTAL_ALIAS'], ascending=[True, False]).show()

+--------+-----------+
|VendorID|TOTAL_ALIAS|
+--------+-----------+
|       1|   46269.44|
|       1|     1009.0|
|       1|    1003.62|
|       1|     832.74|
|       1|     602.75|
|       1|     551.75|
|       1|      547.2|
|       1|     521.69|
|       1|     516.69|
|       1|     514.44|
|       1|      512.0|
|       1|     502.99|
|       1|      501.0|
|       1|      475.5|
|       1|     472.45|
|       1|     467.29|
|       1|     451.98|
|       1|      451.0|
|       1|      451.0|
|       1|     440.59|
+--------+-----------+
only showing top 20 rows

## Filter Operations

We can use the DataFrame.filter() or DataFrame.where() methods to filter the data, .where() is an alias for filter(). This methods are used alongside filter operators to create a column expression that represents a `Filter Condition`.

Some Filter Operators:

| Operation        | Example (Expression)                    | Equivalent SQL |
| ---------------- | --------------------------------------- | ------------------- |
| Equal to         | `col("age") == 30`                      | `age = 30`          |
| Not equal        | `col("age") != 30`                      | `age <> 30`         |
| Greater than     | `col("age") > 18`                       | `age > 18`          |
| Less than        | `col("age") < 65`                       | `age < 65`          |
| Greater or equal | `col("age") >= 21`                      | `age >= 21`         |
| Less or equal    | `col("age") <= 65`                      | `age <= 65`         |
| And              | `(col("age") > 18) & (col("age") < 65)` | `AND`               |
| Or               | `(col("age") > 18) \| (col("age") < 65)`| `OR`                |
| Not              | `~(col("active") == True)`              | `NOT active = true` |

In [37]:
df.select('VendorID', 'total_amount').where('total_amount > 100').show()

+--------+------------+
|VendorID|total_amount|
+--------+------------+
|       2|      112.89|
|       2|      153.85|
|       2|      103.86|
|       2|      100.13|
|       1|      121.75|
|       2|      106.97|
|       1|      100.39|
|       1|      101.89|
|       2|      100.13|
|       2|      148.26|
|       2|      238.89|
|       2|      104.21|
|       1|      100.09|
|       2|      103.86|
|       2|      112.75|
|       2|      145.83|
|       2|      101.15|
|       2|       124.2|
|       2|      160.62|
|       2|      103.86|
+--------+------------+
only showing top 20 rows

In [38]:
df.select('VendorID', 'total_amount').filter(df.VendorID == 1).show()

+--------+------------+
|VendorID|total_amount|
+--------+------------+
|       1|        15.5|
|       1|        13.8|
|       1|        17.2|
|       1|        20.8|
|       1|       83.44|
|       1|       16.35|
|       1|       24.75|
|       1|        55.0|
|       1|       18.45|
|       1|       19.15|
|       1|       18.85|
|       1|       14.35|
|       1|        19.7|
|       1|        15.5|
|       1|        15.5|
|       1|        25.6|
|       1|        17.9|
|       1|       17.95|
|       1|       22.25|
|       1|       20.55|
+--------+------------+
only showing top 20 rows

Multiple Operators

In [39]:
df.select('VendorID', 'payment_type', 'total_amount').filter((df.VendorID == 2) & (df.total_amount > 1000)).show()

+--------+------------+------------+
|VendorID|payment_type|total_amount|
+--------+------------+------------+
|       2|           2|     1694.31|
|       2|           1|     1015.55|
|       2|           2|     1059.21|
|       2|           1|      1171.3|
|       2|           1|      1081.2|
|       2|           1|      1189.2|
|       2|           1|     1175.52|
|       2|           1|     1240.52|
|       2|           2|     1183.39|
|       2|           1|     1004.25|
|       2|           1|     1004.25|
|       2|           1|     1226.25|
|       2|           1|      1249.3|
|       2|           1|     2246.55|
+--------+------------+------------+

In [40]:
df.select('VendorID', 'payment_type', 'total_amount') \
    .filter((df.VendorID == 2) & (df.total_amount > 1000) & (df.payment_type == 1)).show()

+--------+------------+------------+
|VendorID|payment_type|total_amount|
+--------+------------+------------+
|       2|           1|     1015.55|
|       2|           1|      1171.3|
|       2|           1|      1081.2|
|       2|           1|      1189.2|
|       2|           1|     1175.52|
|       2|           1|     1240.52|
|       2|           1|     1004.25|
|       2|           1|     1004.25|
|       2|           1|     1226.25|
|       2|           1|      1249.3|
|       2|           1|     2246.55|
+--------+------------+------------+

In [41]:
df.select('VendorID', 'total_amount') \
    .filter(((df.VendorID == 2) & (df.total_amount > 1000)) | (df.total_amount > 2000)).show()

+--------+------------+
|VendorID|total_amount|
+--------+------------+
|       2|     1694.31|
|       2|     1015.55|
|       2|     1059.21|
|       1|    46269.44|
|       2|      1171.3|
|       2|      1081.2|
|       2|      1189.2|
|       2|     1175.52|
|       2|     1240.52|
|       2|     1183.39|
|       2|     1004.25|
|       2|     1004.25|
|       2|     1226.25|
|       2|      1249.3|
|       2|     2246.55|
+--------+------------+

The Between operator

In [42]:
df.select(df.VendorID, df.total_amount).where(df.total_amount.between(15, 16)).show()

+--------+------------+
|VendorID|total_amount|
+--------+------------+
|       1|        15.5|
|       2|       15.54|
|       2|        15.7|
|       2|       15.29|
|       2|       15.93|
|       1|        15.5|
|       1|        15.5|
|       2|       15.54|
|       1|        15.0|
|       2|       15.48|
|       2|       15.75|
|       2|       15.54|
|       2|       15.75|
|       1|        15.5|
|       2|        15.8|
|       2|       15.65|
|       1|       15.75|
|       2|       15.01|
|       1|        15.5|
|       2|       15.37|
+--------+------------+
only showing top 20 rows

Filtering null values can be done with .isnull(), .isNotNull() and .isNaN() methods

In [43]:
df['VendorID', 'Airport_fee', 'total_amount'].where(col('Airport_fee').isNull()).show()

+--------+-----------+------------+
|VendorID|Airport_fee|total_amount|
+--------+-----------+------------+
|       2|       NULL|        4.76|
|       2|       NULL|       18.95|
|       2|       NULL|         2.0|
|       2|       NULL|        43.4|
|       2|       NULL|       39.23|
|       1|       NULL|       18.79|
|       2|       NULL|        5.29|
|       2|       NULL|       20.77|
|       2|       NULL|       50.34|
|       1|       NULL|       48.98|
|       2|       NULL|       19.38|
|       2|       NULL|        2.97|
|       2|       NULL|       15.63|
|       2|       NULL|         1.0|
|       2|       NULL|       37.81|
|       2|       NULL|       38.14|
|       1|       NULL|        30.3|
|       2|       NULL|       15.71|
|       2|       NULL|        6.31|
|       2|       NULL|       35.54|
+--------+-----------+------------+
only showing top 20 rows

Filter text in a column with .contains()

In [44]:
df['VendorID', 'Airport_fee', 'total_amount', 'tpep_pickup_datetime'] \
    .where(col('tpep_pickup_datetime').contains('2025-03-05')).show()

+--------+-----------+------------+--------------------+
|VendorID|Airport_fee|total_amount|tpep_pickup_datetime|
+--------+-----------+------------+--------------------+
|       1|       1.75|       57.25| 2025-03-05 00:17:44|
|       1|        0.0|       16.35| 2025-03-05 00:02:33|
|       2|        0.0|       14.44| 2025-03-05 00:17:56|
|       2|        0.0|       19.25| 2025-03-05 00:39:48|
|       2|        0.0|       17.16| 2025-03-05 00:20:42|
|       2|        0.0|       16.32| 2025-03-05 00:00:03|
|       2|        0.0|        30.6| 2025-03-05 00:13:04|
|       2|        0.0|        -8.0| 2025-03-05 00:45:09|
|       2|        0.0|         8.0| 2025-03-05 00:45:09|
|       2|        0.0|       23.94| 2025-03-05 00:22:02|
|       2|        0.0|       17.22| 2025-03-05 00:29:21|
|       2|       1.75|       71.74| 2025-03-05 00:09:59|
|       2|       1.75|      147.72| 2025-03-05 00:26:52|
|       1|        0.0|       26.45| 2025-03-05 00:32:22|
|       2|        0.0|        16.4| 2025-03-05 00:33:31|
|       2|        0.0|       30.19| 2025-03-05 00:32:52|
|       2|        0.0|       17.15| 2025-03-05 00:10:36|
|       1|        0.0|        25.9| 2025-03-05 00:55:43|
|       2|        0.0|       60.83| 2025-03-05 00:34:05|
|       2|        0.0|       22.65| 2025-03-05 00:43:58|
+--------+-----------+------------+--------------------+
only showing top 20 rows

SQL LIKE pattern filter

In [45]:
df['VendorID', 'Airport_fee', 'total_amount', 'tpep_pickup_datetime'] \
    .where(col('tpep_pickup_datetime').like('%51%')).show()

+--------+-----------+------------+--------------------+
|VendorID|Airport_fee|total_amount|tpep_pickup_datetime|
+--------+-----------+------------+--------------------+
|       2|        0.0|       18.15| 2025-03-01 00:41:51|
|       2|        0.0|       38.99| 2025-03-01 00:51:48|
|       2|        0.0|       18.06| 2025-03-01 00:51:23|
|       2|        0.0|       48.56| 2025-03-01 00:44:51|
|       1|        0.0|       26.45| 2025-03-01 00:16:51|
|       1|        0.0|       18.55| 2025-03-01 00:56:51|
|       1|        0.0|        14.0| 2025-03-01 00:51:04|
|       2|        0.0|       21.42| 2025-03-01 00:51:30|
|       2|        0.0|       16.38| 2025-03-01 00:51:14|
|       2|        0.0|       51.09| 2025-03-01 00:02:51|
|       2|        0.0|       14.95| 2025-03-01 00:22:51|
|       2|        0.0|       25.62| 2025-03-01 00:03:51|
|       2|        0.0|       15.65| 2025-03-01 00:51:35|
|       2|        0.0|       26.46| 2025-03-01 00:51:47|
|       2|        0.0|       21.75| 2025-03-01 00:50:51|
|       2|        0.0|        35.7| 2025-03-01 00:27:51|
|       2|        0.0|       16.23| 2025-03-01 00:20:51|
|       2|        0.0|       25.62| 2025-03-01 00:51:18|
|       2|        0.0|       34.02| 2025-03-01 00:11:51|
|       2|        0.0|       15.65| 2025-03-01 00:51:24|
+--------+-----------+------------+--------------------+
only showing top 20 rows

Case insensitive SQL LIKE pattern filter

In [46]:
df.select(df.VendorID, df.store_and_fwd_flag).where(col('store_and_fwd_flag').like('n')).show()
df.select(df.VendorID, df.store_and_fwd_flag).where(col('store_and_fwd_flag').ilike('n')).show()

+--------+------------------+
|VendorID|store_and_fwd_flag|
+--------+------------------+
+--------+------------------+

+--------+------------------+
|VendorID|store_and_fwd_flag|
+--------+------------------+
|       1|                 N|
|       1|                 N|
|       2|                 N|
|       2|                 N|
|       1|                 N|
|       1|                 N|
|       2|                 N|
|       2|                 N|
|       2|                 N|
|       2|                 N|
|       2|                 N|
|       2|                 N|
|       1|                 N|
|       2|                 N|
|       2|                 N|
|       2|                 N|
|       2|                 N|
|       1|                 N|
|       1|                 N|
|       2|                 N|
+--------+------------------+
only showing top 20 rows

SQL LIKE pattern with REGEX filter

In [47]:
df['VendorID', 'Airport_fee', 'total_amount', 'tpep_pickup_datetime'] \
    .where(col('tpep_pickup_datetime').rlike('.51$')).show()

+--------+-----------+------------+--------------------+
|VendorID|Airport_fee|total_amount|tpep_pickup_datetime|
+--------+-----------+------------+--------------------+
|       2|        0.0|       18.15| 2025-03-01 00:41:51|
|       2|        0.0|       48.56| 2025-03-01 00:44:51|
|       1|        0.0|       26.45| 2025-03-01 00:16:51|
|       1|        0.0|       18.55| 2025-03-01 00:56:51|
|       2|        0.0|       51.09| 2025-03-01 00:02:51|
|       2|        0.0|       14.95| 2025-03-01 00:22:51|
|       2|        0.0|       25.62| 2025-03-01 00:03:51|
|       2|        0.0|       21.75| 2025-03-01 00:50:51|
|       2|        0.0|        35.7| 2025-03-01 00:27:51|
|       2|        0.0|       16.23| 2025-03-01 00:20:51|
|       2|        0.0|       34.02| 2025-03-01 00:11:51|
|       1|        0.0|        15.3| 2025-03-01 00:51:51|
|       2|        0.0|       15.05| 2025-03-01 00:17:51|
|       2|        0.0|        18.9| 2025-03-01 00:35:51|
|       1|        0.0|       17.95| 2025-03-01 00:35:51|
|       2|        0.0|       18.65| 2025-03-01 00:48:51|
|       2|        0.0|        15.7| 2025-03-01 00:24:51|
|       1|        0.0|       24.15| 2025-03-01 00:04:51|
|       2|        0.0|       36.85| 2025-03-01 00:37:51|
|       1|        0.0|       24.05| 2025-03-01 00:09:51|
+--------+-----------+------------+--------------------+
only showing top 20 rows

Startswith, filter strings that starts with the specified string filter without using LIKE or REGEX

In [48]:
df['VendorID', 'Airport_fee', 'total_amount', 'tpep_pickup_datetime'] \
    .where(col('tpep_pickup_datetime').startswith('2025-03-30 23')).show()

+--------+-----------+------------+--------------------+
|VendorID|Airport_fee|total_amount|tpep_pickup_datetime|
+--------+-----------+------------+--------------------+
|       2|        0.0|        27.3| 2025-03-30 23:59:06|
|       2|        0.0|       20.58| 2025-03-30 23:00:05|
|       1|       1.75|        71.0| 2025-03-30 23:18:41|
|       2|       1.75|       53.05| 2025-03-30 23:55:58|
|       1|       1.75|        91.8| 2025-03-30 23:05:01|
|       1|        0.0|       12.25| 2025-03-30 23:48:17|
|       2|        0.0|       26.46| 2025-03-30 23:00:27|
|       2|        0.0|        14.7| 2025-03-30 23:48:30|
|       1|        0.0|        19.7| 2025-03-30 23:33:25|
|       1|        0.0|       14.35| 2025-03-30 23:07:44|
|       1|        0.0|       13.65| 2025-03-30 23:17:18|
|       2|        0.0|       24.15| 2025-03-30 23:22:33|
|       1|        0.0|        11.5| 2025-03-30 23:04:25|
|       2|        0.0|       29.58| 2025-03-30 23:01:48|
|       1|        0.0|       17.15| 2025-03-30 23:03:07|
|       1|        0.0|        33.5| 2025-03-30 23:59:23|
|       2|       1.75|      234.69| 2025-03-30 23:51:00|
|       1|       1.75|       76.49| 2025-03-30 23:24:34|
|       2|        0.0|       20.65| 2025-03-30 23:07:40|
|       2|        0.0|       21.35| 2025-03-30 23:08:41|
+--------+-----------+------------+--------------------+
only showing top 20 rows

Filter unique rows, just like `select distinct`

In [49]:
df.select('VendorID').distinct().show()

+--------+
|VendorID|
+--------+
|       1|
|       7|
|       2|
|       6|
+--------+

## Handling columns

Create columns

Columns Aliases refresh

In [50]:
df.select('VendorID', col('total_amount').alias('TOTAL_ALIAS')).show()

+--------+-----------+
|VendorID|TOTAL_ALIAS|
+--------+-----------+
|       1|       15.5|
|       1|       13.8|
|       2|      25.81|
|       2|      15.54|
|       1|       17.2|
|       1|       20.8|
|       2|       27.3|
|       2|      16.35|
|       2|       23.1|
|       2|      21.42|
|       2|      14.35|
|       2|      14.25|
|       1|      83.44|
|       2|     112.89|
|       2|      28.14|
|       2|       15.7|
|       2|      18.15|
|       1|      16.35|
|       1|      24.75|
|       2|      12.95|
+--------+-----------+
only showing top 20 rows

Drop columns: The Dataframe.Drop() method returns a new dataframe without the columns specified in it

In [51]:
df.select('VendorID', 'total_amount').drop('total_amount').show()

+--------+
|VendorID|
+--------+
|       1|
|       1|
|       2|
|       2|
|       1|
|       1|
|       2|
|       2|
|       2|
|       2|
|       2|
|       2|
|       1|
|       2|
|       2|
|       2|
|       2|
|       1|
|       1|
|       2|
+--------+
only showing top 20 rows

## Aggregations

Group By functions: COUNT, SUM, MIN, MAX, AVG, etc

Dataframe.GroupBy returns a DataFrameGroupBy class that is used to create aggregations

In [52]:
print(df.groupBy('VendorID'))

GroupedData[grouping expressions: [VendorID], value: [VendorID: int, tpep_pickup_datetime: timestamp_ntz ... 18 more fields], type: GroupBy]

Count Aggregation: counts the rows by the groupby class

In [53]:
df.groupBy('VendorID').count().show()

+--------+-------+
|VendorID|  count|
+--------+-------+
|       1| 834394|
|       7|  21481|
|       2|3289048|
|       6|    334|
+--------+-------+

Mean

In [54]:
df.groupBy('VendorID').mean().show()

+--------+-------------+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+--------------------------+------------------+-------------------------+-------------------+-----------------------+
|VendorID|avg(VendorID)|avg(passenger_count)|avg(trip_distance)|   avg(RatecodeID)| avg(PULocationID)| avg(DOLocationID)| avg(payment_type)|  avg(fare_amount)|        avg(extra)|       avg(mta_tax)|   avg(tip_amount)|  avg(tolls_amount)|avg(improvement_surcharge)| avg(total_amount)|avg(congestion_surcharge)|   avg(Airport_fee)|avg(cbd_congestion_fee)|
+--------+-------------+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+--------------------------+------------------+-------------------------+-------------------+-----------------------+
|       1|          1.0|  1.1356357489615063| 3.424591979328704| 7.168901724390824|163.15342152508288|162.15397761728872|0.9883723996097766|  18.4322967087491|3.1941489751843832|0.49553396836506497|2.8565741723933864|0.49396246857008635|        0.9520118792800524| 26.81411121125252|        2.206140107288467|0.10320747516088286|     0.5323752927274166|
|       7|          7.0|   1.293608305013733| 2.988788696988037|1.0349611284390856| 170.7460546529491|167.22908616917275|1.1509240724361063|15.903308970718298|               0.0|                0.5| 3.557886038825003| 0.3956719891997602|                       1.0|25.361795540244803|        2.400726223173968|0.27089055444346166|     0.5585633815930358|
|       2|          2.0|  1.3346868170868706| 7.408857827552657|1.1050775002854412| 161.3580844669947|160.95823867575055|0.9467313946163145|17.653924007798313|0.7284373685029834| 0.4741264037496564|2.8551598000390745| 0.4705445101440829|        0.9581881444113919| 26.13239850861697|       2.2215550837680156|0.14290554809904132|     0.5373645352697802|
|       6|          6.0|                NULL| 9.088413173652697|              NULL|126.58982035928143|127.58083832335329|               0.0|2.9173652694610643|               0.0|                0.5|               0.0|   1.78862275449102|        0.2999999999999982|29.504341317365295|                     NULL|               NULL|                    0.0|
+--------+-------------+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+--------------------------+------------------+-------------------------+-------------------+-----------------------+

The last output showed every column, remember to select first

In [55]:
df.select('VendorID', 'total_amount').groupBy('VendorID').mean('total_amount').show()

+--------+------------------+
|VendorID| avg(total_amount)|
+--------+------------------+
|       1| 26.81411121125252|
|       7|25.361795540244803|
|       2| 26.13239850861697|
|       6|29.504341317365295|
+--------+------------------+

Grouping without .select()

In [56]:
df.groupBy('VendorID').mean('total_amount').show()

+--------+------------------+
|VendorID| avg(total_amount)|
+--------+------------------+
|       1| 26.81411121125252|
|       7|25.361795540244803|
|       2| 26.13239850861697|
|       6|29.504341317365295|
+--------+------------------+

We can compute multiple aggregations across the entire dataframe with the .agg() method, this is also an alias for DataFrame.groupBy()

In [57]:
df.agg({ 'total_amount': 'avg', 'trip_distance': 'min', 'extra': 'max', \
        'VendorID': 'count', 'tolls_amount': 'sum'}).show()

+------------------+-----------------+---------------+----------+------------------+
|min(trip_distance)|sum(tolls_amount)|count(VendorID)|max(extra)| avg(total_amount)|
+------------------+-----------------+---------------+----------+------------------+
|               0.0|1968899.629999516|        4145257|      13.5|26.265898046844185|
+------------------+-----------------+---------------+----------+------------------+

## Join and Union operations

Spark has **join types**, just like SQL, these are the ways that we can **join** (mix and match) the data between DataFrames(tables). Some examples: Inner, left, right, full outer, etc

Spark also has **Join Srategies** these are the ways or algorithms used to shuffle, mix and match the data across nodes and executors in the spark cluster. Examples: Broadcast, sort merge, shuffle, etc; we can read about these in the [performance tuning documentation](!https://spark.apache.org/docs/latest/sql-performance-tuning.html)

We can join dataframes using `DataFrame.join(other, on=None, how=None)`, `inner` is the default value of the `how` parameter, and `other` is the  right side dataframe

In [58]:
# Prepare dataframes
df_a = df.select(df.VendorID, df.trip_distance).limit(1)
df_b = df.select(df.VendorID, df.total_amount).limit(1)
df_join = df_a.join(df_b, 'VendorID', 'inner')
df_join.show()

+--------+-------------+------------+
|VendorID|trip_distance|total_amount|
+--------+-------------+------------+
|       1|          0.9|        15.5|
+--------+-------------+------------+

Union concatenates DataFrames with the same schema, using the column's position, like SQL UNION, but with the caveat that there isn't automatic deduplication of rows, this makes spark's union closer to SQL UNION ALL, the SQL UNION behavior can be archieved with .union().distinct()

In this example both dataframes have integer and double columns, making union possible, the output columns are VendorID and trip_distance because df_a was the main DataFrame

In [71]:
df_union = df_a.union(df_b)
df_union.show()

+--------+-------------+
|VendorID|trip_distance|
+--------+-------------+
|       1|          0.9|
|       1|         15.5|
+--------+-------------+

.unionAll() ALL is an alias to .union() in pyspark

In [75]:
print(f'Normal spark Union (SQL Union All): {df_a.unionAll(df_union).count()}')
print(f'Deduplicated spark Union (Union): {df_a.unionAll(df_union).distinct().count()}')

Normal spark Union (SQL Union All): 3
Deduplicated spark Union (Union): 2

Shut down the current SparkSession

In [60]:
# spark.stop()